@import "tailwindcss";

html,body{
  
  height:100%;
  width: 100%;
}

#tasklist::-webkit-scrollbar {
  display: none;
}

#tasklist {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}